.animacion{
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    @keyframes animacion {
        0% {
            background-color: #EC9A29;
        }
        25%{
            background-color: #A8201A ;
        }
        50%{
            background-color: #F2F7F2;
        }
        75%{
            background-color: #1098F7;
        }
        100%{
            background-color: #EC9A29;
        }
    }
}